<!DOCTYPE html>
<html>
  <head>
    <title> Mad Libs Online </title>
    <link href ="/styles/main.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="/styles/w3.css">
    <!-- <script src="/js/script.js" type="text/javascript"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  <body class="w3-container">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/history" class="w3-bar-item w3-button">History</a>
      <a href="/start" class="w3-bar-item w3-button">Start</a>
      <a href="#" class="w3-bar-item w3-button">About</a>
    </div>
    {% for word in story %}
    <p class="w3-animate-opacity"> Once upon a time, there was a
      <span id='adjective1' class="word">{{word.adjective1}}</span>
      <span id="noun1-1" class="word">{{word.noun1}}</span>
      that was
      <span id="verb1" class="word">{{word.verb1}}</span>
      . This
      <span id="noun1-2" class="word">{{word.noun1}}</span>
      was soooooooo
      <span id='adjective1' class="word">{{word.adjective1}}</span>
       that one day, it decided to buy a
      <span id="noun2"class="word">{{word.noun2}}</span>
      to stop being so
      <span id='adjective1' class="word">{{adjective1}}</span>.
    </p>
    {% endfor %}
  </body>
</html>
