<!DOCTYPE html>
<html>
  <head>
    <link href ="/styles/main.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <script src="/js/home.js" type="text/javascript"></script>
    <title> Mad Libs Online </title>
  </head>
  <body>
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/history" class="w3-bar-item w3-button">History</a>
      <a href="/start" class="w3-bar-item w3-button">Start</a>
      <a href="#" class="w3-bar-item w3-button">About</a>
    </div>

    <div id='menumain' class="w3-container">
      <h1 id='openhello' class="w3-center w3-animate-right"> Hello! </h1>
      <h2 id='madlibs' class="w3-center w3-animate-left"> Welcome to Mad Libs Online </h2>
      <p id="readybtn" class="w3-button w3-black w3-border w3-round-large"> Ready? </p>
    </div>
  </body>
</html>
